body {
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  #game-container {
    display: flex;
    justify-content: center;
  }
  
  .square {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    transition: background-color 0.3s;
  }
  
  .correct {
    background-color: green;
    color: white;
  }
  
  .incorrect {
    background-color: red;
    color: white;
  }